<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết thư xin việc</title>
    {% load static %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'candidate/img/logo_title.png' %}">
    <link rel="stylesheet" href="{% static 'admin_employer/css/bootstrap2.css' %}">
    <link rel="stylesheet" href="{% static 'admin_employer/css/detailcv.css' %}">
    <link href="{% static 'admin_employer/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'admin_employer/css/toastr.min.css' %}">
    <link href="{% static 'admin_employer/css/app.min.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <style>

    </style>
</head>
<body>
<div id="wrapper">
    <!-- Topbar Start -->
    <div class="navbar-custom">
        <ul class="list-unstyled topnav-menu float-right mb-0">
          <li class="d-none  d-sm-block">
            <div>
              <a href="/" class="nav-link waves-effect d-flex">
                <i class="mdi mdi-home" style="font-size: 30px"></i>
                <span>Cho người tìm việc</span>
              </a>
            </div>
          </li>
          <li class="dropdown notification-list">
            <a
                    class="nav-link dropdown-toggle nav-user mr-0 waves-effect"
                    data-toggle="dropdown"
                    href="#"
                    role="button"
                    aria-haspopup="false"
                    aria-expanded="false"
            >
            {% if request.COOKIES.avatar != null and request.COOKIES.avatar != '' %}
              <img
                      src="{{ request.COOKIES.avatar }}"
                      alt="user-image"
                      class="rounded-circle"
              />
              {% else %}
              <img
                      src="https://api.dicebear.com/6.x/initials/svg?seed={{ request.COOKIES.avatar }}"
                      alt="user-image"
                      class="rounded-circle"
              />
              {% endif %}
      
              <span class="pro-user-name ml-1">
                {{request.COOKIES.company_name}}
                <i class="mdi mdi-chevron-down"></i>
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right profile-dropdown">
              <!-- item-->
              <div class="dropdown-header noti-title">
                <h6 class="text-overflow m-0">Xin chào !</h6>
              </div>
      
              <!-- item-->
              <a href="/employer/account" class="dropdown-item notify-item">
                <i class="fe-user"></i>
                <span>Tài khoản</span>
              </a>
      
              <div class="dropdown-divider"></div>
      
              <!-- item-->
              <a href="/employer/logout" class="dropdown-item notify-item">
                <i class="fe-log-out"></i>
                <span>Đăng xuất</span>
              </a>
            </div>
          </li>
        </ul>
      
        <!-- LOGO -->
        <div class="logo-box">
          <a href="/" class="logo text-center">
            <span class="logo-lg">
              <img src="{% static 'candidate/img/logo.png' %}" alt="" height="32" />
            </span>
          </a>
        </div>
      
        <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
          <li>
            <button class="button-menu-mobile disable-btn waves-effect">
              <i class="fe-menu"></i>
            </button>
          </li>
        </ul>
      </div>
    <!-- end Topbar -->

    <!-- ========== Left Sidebar Start ========== -->
    <div class="left-side-menu">
        <div
                class="slimScrollDiv active"
                style="position: relative; width: auto; height: 238px"
        >
          <div
                  class="slimscroll-menu in"
                  style="overflow: auto; width: auto; height: 238px"
          >
            <!-- User box -->
            <div class="user-box text-center">
              {% if request.COOKIES.avatar != null and request.COOKIES.avatar != '' %}
              <img
                      src="{{ request.COOKIES.avatar }}"
                      alt="user-img"
                      title="Mat Helme"
                      class="rounded-circle img-thumbnail avatar-lg"
              />
              {% else %}
              <img
                      src="https://api.dicebear.com/6.x/initials/svg?seed={{ request.COOKIES.company_name }}"
                      alt="user-img"
                      title="Mat Helme"
                      class="rounded-circle img-thumbnail avatar-lg"
              />
              {% endif %}
      
              <div class="dropdown">
                <a
                        href="#"
                        class="text-dark dropdown-toggle h5 mt-2 mb-1 d-block"
                        data-toggle="dropdown"
                >
                {{request.COOKIES.company_name}}
                </a>
              </div>
              <p class="text-muted">Nhà tuyển dụng</p>
            </div>
      
            <!--- Sidemenu -->
            <div id="sidebar-menu" class="active">
              <ul class="metismenu in" id="side-menu">
                <li class="menu-item">
                  <a href="/employer/">
                    <i class="fas fa-suitcase"></i>
                    <span> Quản lý công việc </span>
                  </a>
                </li>
                <li>
                  <a href="/employer/cv/">
                      <i class="fas fa-file-alt"></i>
                    <span> Quản lý CV </span>
                  </a>
                </li>
              </ul>
            </div>
            <!-- End Sidebar -->
      
            <div class="clearfix"></div>
          </div>
          <div
                  class="slimScrollBar"
                  style="
              background: rgb(158, 165, 171);
              width: 8px;
              position: absolute;
              top: 85px;
              opacity: 0.4;
              display: none;
              border-radius: 7px;
              z-index: 99;
              right: 1px;
              height: 68.6594px;
            "
          ></div>
          <div
                  class="slimScrollRail"
                  style="
              width: 8px;
              height: 100%;
              position: absolute;
              top: 0px;
              display: none;
              border-radius: 7px;
              background: rgb(51, 51, 51);
              opacity: 0.2;
              z-index: 90;
              right: 1px;
            "
          ></div>
        </div>
        <!-- Sidebar -left -->
      </div>
    <!-- Left Sidebar End -->

    <div class="content-page">
        <div class="content">
            <section class="dashboard">
                <h2 class="text-center mb-2">Chi tiết thư xin việc</h2>
                <div class="form_infomation">
                    <form action="{% url 'cv-detail' id%}" method="post">
                        {% csrf_token %}
                        <div class="col-md-12">
                            <label for="nameJob">Tên công việc</label>
                            <input type="text" name="title" id="nameJob" value="{{ title }}" readonly>
                        </div>
                        <div class="col-md-12">
                            <label for="nameCandidate">Tên ứng viên</label>
                            <input type="text" name="name" id="nameCandidate" value="{{ name }}" readonly>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="phone">Số điện thoại</label>
                                <input type="text" name="phone_number" id="phone" value="{{ phone_number }}" readonly>
                            </div>
                            <div class="col-md-6">
                                <label for="email">Email</label>
                                <input type="text" name="email" id="email" value="{{ email }}" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="cvfile"  style="margin-bottom: 11px">Hồ sơ</label>
                                <div class="download-btn" id="cvfile" style="height: 6vh">
                                    <a href="{{ cv }}" class="download-link" download>
                                        <span class="download">
                                          <i class="fa-solid fa-download"></i>
                                        </span>
                                        {{ file_name }}
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="status-cv">Trạng thái</label>
                                <select name="status" id="status-cv" required>
                                    <option value="1" {% if status|add:0 == 1 %}selected{% endif %}>Chưa xử lý</option>
                                    <option value="2" {% if status|add:0 == 2 %}selected{% endif %}>Đã duyệt</option>
                                    <option value="3" {% if status|add:0 == 3 %}selected{% endif %}>Từ chối</option>
                                </select>
                            </div>
                        </div>
                        <input type="text" name="cvid" value="{{ id }}" hidden>
                        <div class="col-md-12">
                            <input type="submit" value="Cập nhật">
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="{% static 'admin_employer/js/vendor.min.js' %}"></script>
<script src="{% static 'admin_employer/js/app.min.js' %}"></script>
<script src="{% static 'admin_employer/libs/toastr/toastr.min.js' %}"></script>
<script src="{% static 'admin_employer/js/pages/toastr.init.js' %}"></script>

