<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Thông tin công ty</title>
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- App favicon -->
<link href="{% static 'admin_employer/css/stage.css' %}" rel="stylesheet"
	type="text/css" />
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
	rel="stylesheet" type="text/css" />
<link rel="shortcut icon" type="image/x-icon" href="{% static 'candidate/img/logo_title.png' %}">
</head>
<body>
	<div>
		<section>
			<div class="nav-info">
				<div class="icons">
					<div class="icon active">
						<a href="{% url 'add-job-stage-1' %}">1</a>
						<p>Thông tin công việc</p>
					</div>
					<div class="icon">
						<a href="{% url 'add-job-stage-2' %}">2</a>
						<p>Mô tả công việc</p>
					</div>
					<div class="icon">
						<a href="{% url 'add-job-stage-3' %}">3</a>
						<p>Thông tin liên hệ</p>
					</div>
					<div class="icon">
						<a href="{% url 'add-job-stage-4' %}">4</a>
						<p>Lịch đăng</p>
					</div>
				</div>
			</div>
			<div class="form_infomation">
				<form action="{% url 'add-job-stage-1' %}" method="post">
					{% csrf_token %}
					<div class="form_position">
						<div class="row">
							<div class="col-md-12">
								<label for="position">Tiêu đề</label> <input type="text"
									name="title" id="title" class="position"
									placeholder="Nhập tiêu đề công việc tìm kiếm ứng viên" required>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<label for="position">Mã việc làm</label> <input type="text"
									name="code" id="position"
									placeholder="Nhập mã việc làm của bạn">
							</div>
						</div>
					</div>
					<div class="row"></div>
					<div class="row">
						<div class="col-md-12">
							<label for="companyName">Tên công ty</label>
							<input type="text"
								name="company_name" id="companyName"
								placeholder="Nhập tên công ty của bạn" required>
						</div>
						<div class="col-md-12">
							<label for="summary">Sơ lược công ty</label>
							<textarea name="company_description" id="summary" rows="5"
								placeholder="Nhập sơ lược về công ty của bạn"></textarea>
						</div>
						<div class="form_position">
							<div class="col-md-6">
								<label for="employeeNumber">Số nhân viên</label> <select
									name="company_size" id="employeeNumber" required>
								<option value="1">Ít hơn 10</option>
								<option value="2">10-24</option>
								<option value="3">25-99</option>
								<option value="4">100-499</option>
								<option value="5">Trên 500</option>
							</select>
							</div>
							<div class="col-md-6">
								<label for="Website">Website công ty</label>
								<input type="text" name="website" id="website" required>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<input type="submit" value="Tiếp tục">
						</div>
					</div>
				</form>
			</div>
		</section>
	</div>
</body>
</html>
