<!doctype html>
<html class="no-js" lang="zxx">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Tìm kiếm việc làm nhanh chóng cùng JobFinder</title>

{% load static %}

<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- <link rel="manifest" href="site.webmanifest"> -->
<link rel="shortcut icon" type="image/x-icon"
	href="{% static 'candidate/img/logo_title.png' %}">
<!-- Place favicon.ico in the root directory -->

<!-- CSS here -->
<link rel="stylesheet" href="{% static 'candidate/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'candidate/css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'candidate/css/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'candidate/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'candidate/css/themify-icons.css' %}">
<link rel="stylesheet" href="{% static 'candidate/css/nice-select.css' %}">
<link rel="stylesheet" href="{% static 'candidate/css/flaticon.css' %}">
<link rel="stylesheet" href="{% static 'candidate/css/gijgo.css' %}">
<link rel="stylesheet" href="{% static 'candidate/css/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'candidate/css/slicknav.css' %}">
<link rel="stylesheet" href="{% static 'candidate/css/style.css' %}">
<!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
	<!-- header-start -->
    {% block topbar %}
	<header>
		<div class="header-area ">
			<div id="sticky-header" class="main-header-area">
				<div class="container-fluid ">
					<div class="header_bottom_border">
						<div class="row align-items-center">
							<div class="col-xl-2 col-lg-2">
								<div class="logo">
									<a href="/"> <img
										src="{% static 'candidate/img/logo.png' %}" alt="" style="max-height: 80px">
									</a>
								</div>
							</div>
							<div class="col-xl-6 col-lg-7">
								<div class="main-menu  d-none d-lg-block">
									<nav>
										<ul id="navigation">
											<li><a href="/">Trang chủ</a></li>
											<li><a href="/find-job">Tìm việc làm</a></li>
											<li><a href="#">Hồ sơ & CV <i class="ti-angle-down"></i></a>
												<ul class="submenu">
													<li><a href="#">Quản lý CV </a></li>
													<li><a href="#">Mẫu CV </a></li>
													<li><a href="#">Hướng dẫn viết CV theo ngành nghề</a></li>
												</ul></li>
											<li><a href="#">Công ty <i class="ti-angle-down"></i></a>
												<ul class="submenu">
													<li><a href="#">Danh sách công ty</a></li>
													<li><a href="#">Top nhà tuyển dụng</a></li>
												</ul></li>
											<li><a href="#">Hỗ trợ</a></li>
										</ul>
									</nav>
								</div>
							</div>
							<div class="col-xl-4 col-lg-4 d-none d-lg-block">
								<div class="Appointment">
									{% if request.COOKIES.role != 'candidate' %}
									<div class="phone_num d-none d-xl-block">
										<a href="/login">Đăng nhập</a>
									</div>

									<div class="phone_num d-none d-xl-block ml-2">
										<a href="/signup">Đăng ký</a>
									</div>
									<div class="d-none d-lg-block">
										<a href="/another-login" class="boxed-btn3">Người
											dùng khác</a>
									</div>
									{% else %}
									<div class="d-flex align-items-center">
										<div class="phone_num d-none d-xl-block">
											<a href="/logout">
												<i class="fe-log-out"></i>
												<span>Đăng xuất</span>
											</a>
										</div>
										<div class="thumb">
											{% if request.COOKIES.avatar != null and request.COOKIES.avatar != '' %}
											<img src="{{ request.COOKIES.avatar }}" alt=""
												width="40px" height="40px" class="rounded-circle">
											{% else %}
											<img src="https://api.dicebear.com/6.x/initials/svg?seed={{ request.COOKIES.name }}" alt=""
												width="40px" height="40px" class="rounded-circle">

											{% endif %}


										</div>
										<span
											style="font-weight: bold; font-size: 20px; margin-left: 5px; margin-right: 15px; color: white;">{{request.COOKIES.name}}</span>
									</div>
									<div class="d-none d-lg-block">
										<a href="/cv-send" class="boxed-btn3">CV đã gửi</a>
									</div>
									{% endif %}
								</div>
							</div>

						</div>
						<div class="col-12">
							<div class="mobile_menu d-block d-lg-none"></div>
						</div>
					</div>
				</div>

			</div>
		</div>
		</div>
	</header>
    {% endblock %}
	<!-- header-end -->

    {% block content %}
	<!-- slider_area_start -->
	<div class="slider_area">
		<div class="single_slider  d-flex align-items-center slider_bg_1">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-7 col-md-6">
						<div class="slider_text">
							<h5 class="wow fadeInLeft" data-wow-duration="1s"
								data-wow-delay=".2s">999+ Danh sách việc làm</h5>
							<h3 class="wow fadeInLeft" data-wow-duration="1s"
								data-wow-delay=".3s">Tìm kiếm công việc ước mơ của bạn</h3>
							<p class="wow fadeInLeft" data-wow-duration="1s"
								data-wow-delay=".4s">Chúng tôi cung cấp nền tảng tìm kiếm
								việc làm trực tuyến với sự chấp thuận nhanh chóng</p>
							<div class="sldier_btn wow fadeInLeft" data-wow-duration="1s"
								data-wow-delay=".5s">
								<a href="/find-job" class="boxed-btn3">Tìm kiếm việc làm</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="ilstration_img wow fadeInRight d-none d-lg-block text-right"
			data-wow-duration="1s" data-wow-delay=".2s">
			<img src="{% static 'candidate/img/banner/illustration.png' %}" alt="">
		</div>
	</div>
	<!-- slider_area_end -->

	<!-- catagory_area -->
	<div class="catagory_area">
		<div class="container">
			<form action="{% url 'find-job' %}" method="post"> 
                {% csrf_token %}
				<div class="row cat_search">
					<div class="col-lg-3 col-md-4">
						<div class="single_input">
							<input name="searchText" type="text"
								placeholder="Nhập từ khóa tìm kiếm">
						</div>
					</div>
					<div class="col-lg-3 col-md-4">
						<div class="single_input">
							<select class="wide" name="location">
								<option value="0" data-display="Tìm theo địa điểm">Địa
									điểm</option>
								{% for city in cities %}
								    <option value="{{city.id}}">{{city.name}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="col-lg-3 col-md-4">
						<div class="single_input">
							<select class="wide" name="career">
								<option value="" data-display="Tìm theo ngành nghề">Ngành
									nghề</option>
								{% for career in careers %}
                                    <option value="{{career.id}}">{{career.name}}</option>
                                {% endfor %}
							</select>
						</div>
					</div>
					<div class="col-lg-3 col-md-12">
						<div class="job_btn">
							<button class="boxed-btn3" type="submit">Tìm việc</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!--/ catagory_area -->


	<!-- job_listing_area_start  -->
	<div class="job_listing_area">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6">
					<div class="section_title">
						<h3>Các tin tuyển dụng gần đây</h3>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="brouse_job text-right">
						<a href="#" class="boxed-btn4">Xem tất cả</a>
					</div>
				</div>
			</div>
			<div class="job_lists">
				<div class="row">
                    {% for job_board_item in jobboards|slice:20 %}
                        <div class="col-lg-12 col-md-12">
                            <div class="single_jobs white-bg d-flex justify-content-between">
                                <div class="jobs_left d-flex align-items-center">
										<div class="thumb" style="padding: 0px;">
											<img src="{{job_board_item.logo}}" alt="" style="width: 82px; height: 82px;">
										</div>
                                    <div class="jobs_conetent">
                                        <a href="/job-detail/{{job_board_item.id}}"><h4>{{job_board_item.title}}</h4></a>
                                        <a href="#"><h5>{{job_board_item.company_name}}</h5></a>
                                        <div class="links_locat d-flex align-items-center">
                                            <div class="location">
                                                <p>
                                                    <i class="fa fa-map-marker"></i>
                                                    {{job_board_item.city_name}}</p>
                                            </div>
                                            <div class="location">
                                                <p>
                                                    <i class="fa fa-money"></i>
                                                    {{job_board_item.salary}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="jobs_right">
                                    <div class="apply_now">
                                        <a class="heart_mark"
                                            href="/job-detail/{{job_board_item.id}}">
                                            <i class="ti-heart"></i>
                                        </a> 
                                        <a href="/job-detail/{{job_board_item.id}}"
                                            class="boxed-btn3">Ứng tuyển</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
				</div>
			</div>
		</div>
	</div>
	<!-- job_listing_area_end  -->
	<!-- featured_candidates_area_start  -->
	<div class="featured_candidates_area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section_title text-center mb-40">
						<h3>Top nhà tuyển dụng hàng đầu</h3>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="candidate_active owl-carousel">
						{% for top_employer_item in top_employers %}
                        <div class="single_candidates text-center" style="height: 300px;">
                            <div class="single_company">
                                <div class="thumb">
                                    <img src="{{top_employer_item.logo}}" alt="">
                                </div>
                                <a href="jobs.html"><h3>{{top_employer_item.company_name}}</h3></a>
                                <p>
                                    <span>{{top_employer_item.num_jobs}}</span> việc đang tuyển
                                </p>
                            </div>
                        </div>
                        {% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- job_searcing_wrap  -->
	<div class="job_searcing_wrap overlay">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 offset-lg-1 col-md-6">
					<div class="searching_text">
						<h3>Tìm kiếm 1 công việc?</h3>
						<p>Chúng tôi cung cấp nền tảng tìm kiếm việc làm trực tuyến
							ngay lập tức với sự chấp thuận nhanh chóng</p>
						<a href="#" class="boxed-btn3">Tìm việc</a>
					</div>
				</div>
				<div class="col-lg-5 offset-lg-1 col-md-6">
					<div class="searching_text">
						<h3>Tìm kiếm chuyên gia?</h3>
						<p>Chúng tôi cung cấp nền tảng tìm kiếm các ứng viên trên
							nhiều ngành nghề</p>
						<a href="#" class="boxed-btn3">Đăng tuyển dụng</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- job_searcing_wrap end  -->

	<!-- testimonial_area  -->
	<div class="testimonial_area  ">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section_title text-center mb-40">
						<h3>Lời khuyên</h3>
					</div>
				</div>
				<div class="col-xl-12">
					<div class="testmonial_active owl-carousel">
						<div class="single_carousel">
							<div class="row">
								<div class="col-lg-11">
									<div class="single_testmonial d-flex align-items-center">
										<div class="thumb">
											<img src="{% static 'candidate/img/testmonial/author.png' %}" alt="">
											<div class="quote_icon">
												<i class="Flaticon flaticon-quote"></i>
											</div>
										</div>
										<div class="info">
											<p>"Người làm việc chăm chỉ sẽ đánh bại người tài năng
												khi người tài năng không làm việc chăm chỉ.</p>
											<span>- Doanh nhân A</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="single_carousel">
							<div class="row">
								<div class="col-lg-11">
									<div class="single_testmonial d-flex align-items-center">
										<div class="thumb">
											<img src="{% static 'candidate/img/candiateds/7.png' %}" alt=""
												style="width: 228px; height: 228px;">
											<div class="quote_icon">
												<i class=" Flaticon flaticon-quote"></i>
											</div>
										</div>
										<div class="info">
											<p>"Khi gặp khó khăn thất bại trong công việc đừng bao
												giờ nghĩ đến từ “Chấp nhận” mà là phải “Vượt qua”</p>
											<span>- Nữ Doanh nhân B</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="single_carousel">
							<div class="row">
								<div class="col-lg-11">
									<div class="single_testmonial d-flex align-items-center">
										<div class="thumb">
											<img src="{% static 'candidate/img/candiateds/10.png' %}" alt=""
												style="width: 228px; height: 228px;">
											<div class="quote_icon">
												<i class="Flaticon flaticon-quote"></i>
											</div>
										</div>
										<div class="info">
											<p>"Hãy làm những việc bình thường bằng lòng say mê phi
												thường thành công sẽ đến với bạn.</p>
											<span>- Nhà khởi nghiệp trẻ C</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /testimonial_area  -->

    {% endblock %}


	<!-- footer start -->
	{% block footer %}
    <footer class="footer">
        <div class="footer_top">
          <div class="container">
            <div class="row">
              <div class="col-xl-3 col-md-6 col-lg-3">
                <div class="footer_widget wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                  <div class="footer_logo">
                    <a href="#">
                      <img src="{% static 'candidate/img/logo.png' %}" alt="" style="max-height: 80px">
                    </a>
                  </div>
                  <p>
                    jobfinder@support.com <br>
                    +94 123 456 789 <br>
                    47, Nguyễn Lương Bằng, Đà Nẵng, Việt Nam
                  </p>
                  <div class="socail_links">
                    <ul>
                      <li>
                        <a href="#">
                          <i class="ti-facebook"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-google-plus"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-twitter"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-instagram"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
      
                </div>
              </div>
              <div class="col-xl-2 col-md-6 col-lg-2">
                <div class="footer_widget wow fadeInUp" data-wow-duration="1.1s" data-wow-delay=".4s">
                  <h3 class="footer_title">
                    Company
                  </h3>
                  <ul>
                    <li><a href="#">About </a></li>
                    <li><a href="#"> Pricing</a></li>
                    <li><a href="#">Carrier Tips</a></li>
                    <li><a href="#">FAQ</a></li>
                  </ul>
      
                </div>
              </div>
              <div class="col-xl-3 col-md-6 col-lg-3">
                <div class="footer_widget wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".5s">
                  <h3 class="footer_title">
                    Category
                  </h3>
                  <ul>
                    <li><a href="#">Design & Art</a></li>
                    <li><a href="#">Engineering</a></li>
                    <li><a href="#">Sales & Marketing</a></li>
                    <li><a href="#">Finance</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="footer_widget wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".6s">
                  <h3 class="footer_title">
                    Subscribe
                  </h3>
                  <form action="#" class="newsletter_form">
                    <input type="text" placeholder="Enter your mail">
                    <button type="submit">Subscribe</button>
                  </form>
                  <p class="newsletter_text">Esteem spirit temper too say adieus who direct esteem esteems
                    luckily.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="copy-right_text wow fadeInUp" data-wow-duration="1.4s" data-wow-delay=".3s">
          <div class="container">
            <div class="footer_border"></div>
            <div class="row">
              <div class="col-xl-12">
                <p class="copy_right text-center">
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    {% endblock %}
	<!--/ footer end  -->

	<!-- link that opens popup -->
	<!-- JS here -->
	<script src="{% static 'candidate/js/vendor/modernizr-3.5.0.min.js' %}"></script>
	<script src="{% static 'candidate/js/vendor/jquery-1.12.4.min.js' %}"></script>
	<script src="{% static 'candidate/js/popper.min.js' %}"></script>
	<script src="{% static 'candidate/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'candidate/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'candidate/js/isotope.pkgd.min.js' %}"></script>
	<script src="{% static 'candidate/js/ajax-form.js' %}"></script>
	<script src="{% static 'candidate/js/waypoints.min.js' %}"></script>
	<script src="{% static 'candidate/js/jquery.counterup.min.js' %}"></script>
	<script src="{% static 'candidate/js/imagesloaded.pkgd.min.js' %}"></script>
	<script src="{% static 'candidate/js/scrollIt.js' %}"></script>
	<script src="{% static 'candidate/js/jquery.scrollUp.min.js' %}"></script>
	<script src="{% static 'candidate/js/wow.min.js' %}"></script>
	<script src="{% static 'candidate/js/nice-select.min.js' %}"></script>
	<script src="{% static 'candidate/js/jquery.slicknav.min.js' %}"></script>
	<script src="{% static 'candidate/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'candidate/js/plugins.js' %}"></script>
	<script src="{% static 'candidate/js/gijgo.min.js' %}"></script>


	<!--contact js-->
	<script src="{% static 'candidate/js/contact.js' %}"></script>
	<script src="{% static 'candidate/js/jquery.ajaxchimp.min.js' %}"></script>
	<script src="{% static 'candidate/js/jquery.form.js' %}"></script>
	<script src="{% static 'candidate/js/jquery.validate.min.js' %}"></script>
	<script src="{% static 'candidate/js/mail-script.js' %}"></script>

	<script src="{% static 'candidate/js/main.js' %}"></script>

	{% block script_page %}
  	{% endblock %}
</body>

</html>